/* Visual bug caused by scroll bar */

html { overflow-y: scroll; }

/* button styles */
.z-portfolio-filter {
    padding: 20px;
}

.btn {
    
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    border: 2px solid #C151F1;
   
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600!important;
    color: #C151F1;   
}

.btn:hover {
background-color: RGB(193, 81, 241, 0.5); 
}

.btn.active {
background-color: #C151F1;
color: white;
}

/* end */

/* Gallery base styles */

.z-gallery{
    
    width: 100%;
    /* justify-content: left; */
    display: flex;
    flex-flow: row wrap;    
}

.z-gallery-item{
    width: calc(100%/3);
    overflow: hidden;
    max-height: none;
    height:auto;
    display: block;
}


/* clear fix */
.z-gallery:after {
  content: '';
  display: block;
  clear: both;
}
/* entrance styles */
.show{
  -webkit-animation: z-show-box .5s ease-in-out;
            animation: z-show-box .5s ease-in-out;
}

@-webkit-keyframes z-show-box {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes z-show-box {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* end */

/* inner items */


.z-gallery-item .z-gallery-image{
    width: 100%;
    display: block;
    height: auto;
    max-height: calc(100vh/3);
    object-fit: cover;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
    transform-origin: 50% 65%;
    transition: transform 0.3s ease-in;
  }
  
  .z-gallery-txt{
    
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    /* background: rgba(0, 0, 0, 0.5); */
    /* background: linear-gradient(-90deg,#a028d0,#b03bdf,#c04eef); */
    background: rgba(9,26,70,0.9);
    color: #f1f1f1; 
    font-size: 18px;
     width: 40%;
     height: 80%;
    /*width: 92%; */
    border-collapse:collapse;
  border: 2px solid white;
  }
  
  
  
  /*inner text effects*/
  .z-gallery-subtitle{
    opacity: 0;
  display: inline-block;
  transform: translatey(-150%);
  }
  
  
  .z-gallery-item:hover .z-gallery-subtitle{
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
  }
  
  .no-result .z-gallery-txt img{
    transform: scale(1)!important;
  }
  
  /*end*/
  
  .z-gallery-item:hover .z-gallery-image{
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
    transform: scale(1.2);
    transition: transform 3s , filter 1.5s ease-in-out;
    
  }
  
  
  .z-gallery-item:hover .z-gallery-txt {
    transition: width .5s ease-out;
    opacity: 1;
    width: 80%; 
  }
  

  
/*responsiveness*/

@media (max-width: 768px){
    .z-gallery-txt img {
    transform: scale(.7);
  }
  
  .z-gallery-subtitle{
    transform: translateY(-450%);
  }
  }
  
  @media (max-width:320px){
  .z-gallery-subtitle {
    transform: translateY(-200%);
  }
  }
  
  @media (max-width: 480px){
  
  .z-gallery-txt img {
    transform: scale(.5) translatey(-50%);
  }
  
  .z-gallery-subtitle {
    transform: translateY(-415%);
    display: inline-block;
      font-size: 12px;
  }
  }
  
  @media (max-width: 1024px) {
    .z-gallery-item {
    width: 100%;
  }
  
    .z-gallery-txt img {
    transform: scale(.5) translatey(-50%);
  }
  
  /* 	ipad pro */
  .z-gallery-item:hover .z-gallery-txt{
    transition: width .5s ease-out;
    opacity: 1;
    width: 70%;
  }
  
  }
    
  
  @media (min-width: 1025px) and (max-width: 1280px){
  .z-gallery-txt img {
    transform: scale(.5) translatey(-50%);
  }
  
    .z-gallery-item {
    width: 50%;
  }
  
  
  }
  
  @media  (min-width: 1281px) and (max-width: 1600px){
    
  .z-gallery-txt img {
    transform: scale(.5) translatey(-50%);
  }
  
  .z-gallery-subtitle {
    transform: translateY(-415%);
    display: inline-block;
    font-size: 15px;
  }
  }