.gallery-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
    transform-origin: 50% 65%;
    transition: transform 2s, filter .5s ease-in-out;
   
}

.gallery-item img:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
    transform: scale(1.1);
  }

.gallery{
    
    width: 100%;
    justify-content: left;
    display: flex;
    flex-flow: row wrap;
    
}
.gallery-item{
    width: calc(100%/3);
    overflow: hidden;
    max-height: calc(100vh/3);
    /* z-index: 2;
    transform: translate3d(0px, 0px, 0.01px); */
    display: none; 
}

#z-portfolio-filter {
padding: 20px;
}
.show {
    display: block;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    border: 2px solid #C151F1;
   
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600!important;
    color: #C151F1;
    
   
   
}

.btn:hover {
background-color: RGB(193, 81, 241, 0.5); 
}

.btn.active {
background-color: #C151F1;
color: white;
}
