/* button styles */
.z-portfolio-filter {
  padding: 20px;
  justify-content: center;
  display: flex;
  margin-bottom: 5%;
}

.btn {
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  /* border: 2px solid #C151F1; */
  border: none;
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: 400;
  /*color: #C151F1;  */
  color: #c6c6c6;
}

.btn:hover {
  /*background-color: RGB(193, 81, 241, 0.5); */
  color: #223465;
  border-bottom: 2px solid RGB(193, 81, 241, 0.5);
}

.btn.active {
  /*background-color: #C151F1;*/
  color: #223465;
  border-bottom: 2px solid #c151f1;
  font-weight: 600;
}

/* end */

/* Gallery base styles */

.z-gallery {
  width: 100%;
  /* justify-content: left; */
  display: flex;
  flex-flow: row wrap;
}

.z-gallery-item {
  width: calc(100% / 3);
  overflow: hidden;
  max-height: none;
  height: auto;
  display: block;
  float: left;
  /* border: 10px solid #ffffff; */
}
/* clear fix */
.z-gallery:after {
  content: "";
  display: block;
  clear: both;
}
/* inner items */

.z-gallery-item .z-gallery-image {
  width: 100%;
  display: block;
  height: auto;
  max-height: calc(100vh / 3);
  object-fit: cover;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
  transform-origin: 50% 65%;
  transition: transform 0.3s ease-in;
}

.z-gallery-txt {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  /* background: rgba(0, 0, 0, 0.5); */
  /* background: linear-gradient(-90deg,#a028d0,#b03bdf,#c04eef); */
  background: rgba(9, 26, 70, 0.9);
  color: #f1f1f1;
  font-size: 18px;
  width: 100%;
  height: 100%;
  /*width: 92%; */
}

/*inner text effects*/
.z-gallery-subtitle {
  opacity: 0;
  display: inline-block;
  transform: translatey(calc(100vh / 12));
}

.z-gallery-item:hover .z-gallery-subtitle {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.z-gallery-subtitle h2 {
  color: white;
  font-size: 40px;
}

.no-result .z-gallery-txt img {
  transform: scale(1);
}

/*end*/

.z-gallery-item:hover .z-gallery-image {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  transform: scale(1.2);
  transition: transform 3s, filter 1.5s ease-in-out;
}

.z-gallery-item:hover .z-gallery-txt {
  transition: width 0.5s ease-out;
  opacity: 1;
  /* width: 80%; */
}

/* entrance styles */
.show {
  -webkit-animation: z-show-box 0.5s ease-in-out;
  animation: z-show-box 0.5s ease-in-out;
}

@-webkit-keyframes z-show-box {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes z-show-box {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* end */

/*responsiveness*/

@media (max-width: 1024px) {
  .z-portfolio-filter {
    display: block;
  }
  .z-gallery-item {
    width: 100%;
  }
  .z-gallery-subtitle h2 {
    color: white;
    font-size: 25px;
  }

  /* .z-gallery-txt img {
    transform: scale(0.5) translatey(-50%);
  } */

  /* 	ipad pro */
  .z-gallery-item:hover .z-gallery-txt {
    transition: width 0.5s ease-out;
    opacity: 1;
    /* width: 70%; */
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .z-gallery-item {
    width: 50%;
  }
}

@media (min-width: 1281px) and (max-width: 1600px) {
  .z-gallery-subtitle {
    display: inline-block;
    font-size: 15px;
  }
}
